html {
    font-size: 16px;
}



.sell-property {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    /* Full screen */
}

.main-box {
    width: 100%;
}



.property-header {
    /* background: #8080803b; */
    width: 100%;
    height: 14vh;
    border-bottom: 1px rgba(224, 210, 210, 0.126) solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.head-iconx img {
    width: 60px;
    height: 30px;
}

.head-imgZ {
    margin: 10px;
}

.main-box {
    width: 100%;
    /* min-width: 1000px; */
    flex: 1;
    margin-top: 50px;
    /* equal to header height */
    overflow-y: auto;
    /* makes only outlet scrollable */
    /* padding: 1rem; */
}

@media (min-width: 1024px) {
    .main-box {
        min-width: 1000px;
        /* only desktop */
    }
}
.postBox {
    width: 70%;
    margin: auto;
    margin-top: 80px;

}

.post-ad-title {
    font-size: large;
    text-align: center;
}

.form-post {
    width: 100%;
    border: 1px black solid;
}

.form-top {
    width: 100%;
    height: 20vh;
    border-bottom: 1px gray solid;
}

.cate-pro {
    font-size: small;
    color: gray;
}

.form-main {
    width: 100%;


}

.form-main-child {
    width: 100%;
    /* border: 1px black solid; */
    /* font-size: 1.5rem; */
}

.head-option {
    font-size: large;
}

.form-properties {
    margin-top: 60px;
    padding-left: 30px;
}

/* .box-options >button:first-child{
    margin-left: 10%;
} */


.box-options {
    display: flex;
    flex-wrap: wrap;
    width: 68%;
    /* justify-content: space-between; */

}

.box-options button {
    width: fit-content;
    height: 40px;
    margin-bottom: 13px;
    margin-left: 10px;
    margin-right: 2%;

}

.box-bhk-option {
    display: flex;
    width: 65%;
    justify-content: space-between;

}

.box-listed-options {
    width: 65%;
    display: flex;
    justify-content: space-between;

}

.box-listed-options button {
    width: 15%;

    height: 40px;


}

.box-bathroom-options {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.box-bhk-option button {
    width: 15%;
    margin: auto;
    height: 40px;

}

.box-bathroom-options button {
    width: 15%;
    margin: auto;
    height: 40px;
}

.box-listed-options {
    width: 65%;
    display: flex;
    justify-content: space-between;

}

.box-listed-options button {
    width: 26%;
    width: fit-content;
    height: 40px;

}

/* .box-furnishing-options{

} */
.box-furnishing-options {
    display: flex;
    justify-content: space-between;
    width: 65%;


}

.box-furnishing-options button {
    width: 29%;
    /* height: 30px; */
    width: fit-content;
    height: 40px;
}

.box-properties-status-options {

    display: flex;
    justify-content: space-between;
    width: 75%;

}

.box-properties-status-option button {
    width: 26%;
    width: fit-content;
    height: 40px;

}

.postnowX {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.postnowX button {
    background-color: #3498db;
    color: white;
    border: none;
    height: 30px;
    border-radius: 5px;
}

.box-inputX {
    width: 65%;
    height: 35px;

}

.box-parking-options {
    width: 65%;
    display: flex;
    justify-content: space-between;

}

.box-parking-options button {
    width: 15%;
    height: 30px;
}
.form-properties textarea{
    border: 2px solid black;
    width: 66%;
    height: 110px;
}
.set-price {
    height: 25vh;
    /* border: 1px solid black; */
}
.set-price input{
    width: 65%;
    border: 2px solid black;
    height: 45px;
}
.set-price label {
    color: gray;
    font-size: 16px;
}

/* review */
.loaction-user {
    border: 1px 0px 1px 0px solid gray !important;
}

.Review {
    /* border: 1px solid black; */
    height: 35vh;
    padding-left: 5%;

}

.Review-box {
    margin-top: 20px;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.Review-img {
    width: 50%;
    /* height: 80px; */
    /* max-width: 80%; */
    /* border: 1px solid black; */
    height: 70%;
    /* border-radius: 50%; */

}
.Review-img2{
    width: 80px;
    height: 80px;
    max-width: 80%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50%; */
    border-radius: 50%;

}
.Review-img img{
    width: 50%;
}

.Review-name {
    width: 60%;
    /* border: 1px solid black; */
    height: 70%;

}
.div-num{
    border: 2px solid black;
}

.Review-Num {
    display: flex;
    width: 60%;
    justify-content: space-between;


}

.Review-Num p {
    border: 1px solid black;

}


/* img */
.imageBox {
    width: 100%;
    padding-left: 30px;


}

/* .imageBox-firstchild{

} */

.imageBox-secondchild {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    /* border: 1px solid black; */
}

.img-input {
    width: 28%;

}

.img-input2{
    width: 110px;
    height: 110px;
    border: 1px solid black; 
     margin-bottom: 9px;
    display: flex;
    justify-content: center;
    align-items: center;

} 
/* post */
.postnowX{
    display: flex;
    width: 100%;
    border: 1px solid gray;
    height: 17vh;
    padding-left: 5%;
    align-items: center;
    margin-top: 70px;

}

.postnowX button {
    height: 50%;
    background-color: grey;
    width: fit-content;
    font-size: large;
    font-weight: 400;
    opacity: 30%;
    color: aliceblue;
    cursor: not-allowed;
    border: none;
}

.postNow-butt.enabled{
    background-color: blue !important;
    font-weight: 500;
    opacity: 100%;
}
/* css */

.my-overlay {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    /* blur background */

}

.modelx {
    height: 300px;
    width: 300px;
    background: white;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: sans-serif;

}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ddd;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    margin: 0 auto 10px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.success {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 30px;

}

.success-item1,
.success-item2,
.success-item3 {
    width: 40%;
    /* border: 1px solid black; */
    text-align: center;
}

.success-item3 {
    display: flex;
    flex-direction: column;
}

.succ-sell {
    background-color: #3498db;
    color: white;
    /* border: 2px black solid; */
    height: 50px;
    margin-top: 30px;
}

.succ-pre {

    color: white;
    border: 2px blue solid;
    color: blue;
    height: 50px;
    margin-top: 20px;
}

.footerX {
    margin-top: 30px;
    width: 100%;
    height: 40vh;
    background-color: blue;
}


/*  */

@media (max-width: 524px) {
    .postBox {
        width: 90%;
        margin-left: 4%;
       
    
    }
    .box-furnishing-options{
        width: 96%;
        
    }
    .box-furnishing-options button{
        width: 29%;
        /* height: 30px; */
       
        width: fit-content;
        height: 60px;
        padding: 4px !important;
    }

    .box-properties-status-options{
        width: 96%;
       
    
    }
    
    
    .imageBox-secondchild{
        width: 95%;
        height: fit-content;

    }
    .set-price {
        height: 11vh;
        margin-bottom: 50px;
    }
    .set-price input{
        /* height: 11vh; */
        border: 2px solid black;
        height: 50px;
        width: 90%;
    }
    .form-properties textarea{
        border: 2px solid black;
        width: 90%;
        height: 110px;
    }
    .com-inputZ{
        border: 2px solid black;
        height: 50px;
        width: 90%;

    }
    .Review-box {
        width: 96%;
        /* height: 60%; */
        
    }
    .Review-Num {
        
        width: 96%;
     
    
    
    }
    .img-input{
        margin-right: 20px;
    }
    .upl-img{
        width: 70px;
        height: 70px;
    }
    .upload-imgY{
        width: 65px;
        height: 65px;
        
    }
    .img-input{
        width: fit-content;
    }
    .img-input2{
        width: 70px;
        height: 70px;
        border: 1px solid black;
        margin-bottom: 9px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    .footerX {
       
        height: 20vh;
        
    }
    .success-item1, .success-item2, .success-item3{
        width: 90%;
    }
    .box-options{
        width: 90%;
        
    
    }
    .dis-img-0{
        margin-top: 20px;
        width: 170px ;

    }
    .dis-img-1{
        width: 170px ;

    }
}



.img-input2{

    position: relative;

}
.delete-img{
    position: absolute;
    color: red;
    font-size:x-large;

    right: 0;
    top: 0;
}